/* Common colors */
$white: #fff;
$black: #000;
$gray1: #f9fafb;
$gray2: #f7f7f7;
$gray3: #e5e7eb;
$gray4: #d2d6dc;
$gray5: #6b7280;
$gray6: #3d4044;

/* Light theme */
$lightBackground: #fff;
$lightBorder: #e5e7eb;

/* Dark theme */
$darkBackground: #343942;
$darkBorder: #2c2c2c;
