@import 'colors';

@mixin set-theme-variables($background, $border, $text) {
    --paginatorjs-plugin-background: #{$background};
    --paginatorjs-plugin-border: #{$border};
    --paginatorjs-plugin-text: #{$text};
}

:root {
    @include set-theme-variables($lightBackground, $lightBorder, $lightText);
}

@media (prefers-color-scheme: dark) {
    :root {
        @include set-theme-variables($darkBackground, $darkBorder, $darkText);
    }
}

html[data-theme='dark'] {
    @include set-theme-variables($darkBackground, $darkBorder, $darkText);
}
