/* Main colors */
$white: #fff;
$black: #000;
$gray1: #f9fafb;
$gray2: #f7f7f7;
$gray3: #e5e7eb;
$gray4: #d2d6dc;
$gray5: #6b7280;
$gray6: #3d4044;

/* Light theme */
$lightBackground: #fff;
$lightButtonBorder: #d2d6dc;
$lightButtonBackground: #fff;
$lightButtonColor: #3d4044;
$lightButtonDisabledBackground: #fff;
$lightButtonDisabledColor: #6b7280;
$lightButtonCurrentBackground: #f7f7f7;

/* Dark theme */
$darkBackground: #343942;
$darkButtonBorder: #353e4d;
$darkButtonBackground: #202938;
$darkButtonColor: #d5d6db;
$darkButtonDisabledColor: #6b7280;
$darkButtonDisabledBackground: #202938;
$darkButtonCurrentBackground: #2d3747;
$currentBackground: #2d3747;
