/* Light theme */
$lightBorder: #d2d6dc;
$lightBackground: #fff;
$lightColor: #3d4044;
$lightDisabledBackground: #fff;
$lightDisabledColor: #6b7280;
$lightCurrentBackground: #f7f7f7;

/* Dark theme */
$darkBorder: #353e4d;
$darkBackground: #202938;
$darkColor: #d5d6db;
$darkDisabledColor: #6b7280;
$darkDisabledBackground: #202938;
$darkCurrentBackground: #2d3747;
