@import 'colors';

@mixin set-theme-variables(
    $buttonBorder,
    $buttonBackground,
    $color,
    $disabledBackground,
    $disabledColor,
    $currentBackground
) {
    --paginatorjs-border: #{$buttonBorder};
    --paginatorjs-background: #{$buttonBackground};
    --paginatorjs-color: #{$color};
    --paginatorjs-disabled-background: #{$disabledBackground};
    --paginatorjs-disabled-color: #{$disabledColor};
    --paginatorjs-current-background: #{$currentBackground};
}

:root {
    @include set-theme-variables(
        $lightBorder,
        $lightBackground,
        $lightColor,
        $lightDisabledBackground,
        $lightDisabledColor,
        $lightCurrentBackground
    );
}

@media (prefers-color-scheme: dark) {
    :root {
        @include set-theme-variables(
            $darkBorder,
            $darkBackground,
            $darkColor,
            $darkBackground,
            $darkDisabledColor,
            $darkCurrentBackground
        );
    }
}

html[data-theme='dark'] {
    @include set-theme-variables(
        $darkBorder,
        $darkBackground,
        $darkColor,
        $darkBackground,
        $darkDisabledColor,
        $darkCurrentBackground
    );
}
