@import 'colors';

@mixin set-theme-variables($background, $border, $buttonBorder, $buttonBackground, $color, $disabledBackground, $disabledColor, $currentBackground) {
    --paginatorjs-background: #{$background};
    --paginatorjs-border: #{$border};
    --paginatorjs-button-border: #{$buttonBorder};
    --paginatorjs-button-background: #{$buttonBackground};
    --paginatorjs-button-color: #{$color};
    --paginatorjs-button-disabled-background: #{$disabledBackground};
    --paginatorjs-button-disabled-color: #{$disabledColor};
    --paginatorjs-button-current-background: #{$currentBackground};
}

:root {
    @include set-theme-variables(
        $lightBackground,
        $lightBorder,
        $lightButtonBorder,
        $lightButtonBackground,
        $lightButtonColor,
        $lightButtonDisabledBackground,
        $lightButtonDisabledColor,
        $lightButtonCurrentBackground
    );
}

@media (prefers-color-scheme: dark) {
    :root {
        @include set-theme-variables(
            $darkBackground,
            $darkBorder,
            $darkButtonBorder,
            $darkButtonBackground,
            $darkButtonColor,
            $darkButtonBackground,
            $darkButtonDisabledColor,
            $currentBackground
        );
    }
}

html[data-theme='dark'] {
    @include set-theme-variables(
        $darkBackground,
        $darkBorder,
        $darkButtonBorder,
        $darkButtonBackground,
        $darkButtonColor,
        $darkButtonBackground,
        $darkButtonDisabledColor,
        $currentBackground
    );
}
