@use 'colors';

@mixin set-theme-variables(
    $buttonBorder,
    $buttonBackground,
    $color,
    $disabledBackground,
    $disabledColor,
    $currentBackground
) {
    --paginatorjs-border: #{$buttonBorder};
    --paginatorjs-background: #{$buttonBackground};
    --paginatorjs-color: #{$color};
    --paginatorjs-disabled-background: #{$disabledBackground};
    --paginatorjs-disabled-color: #{$disabledColor};
    --paginatorjs-current-background: #{$currentBackground};
}

:root {
    @include set-theme-variables(
        colors.$lightBorder,
        colors.$lightBackground,
        colors.$lightColor,
        colors.$lightDisabledBackground,
        colors.$lightDisabledColor,
        colors.$lightCurrentBackground
    );
}

@media (prefers-color-scheme: dark) {
    :root {
        @include set-theme-variables(
            colors.$darkBorder,
            colors.$darkBackground,
            colors.$darkColor,
            colors.$darkBackground,
            colors.$darkDisabledColor,
            colors.$darkCurrentBackground
        );
    }
}

html[data-theme='dark'] {
    @include set-theme-variables(
        colors.$darkBorder,
        colors.$darkBackground,
        colors.$darkColor,
        colors.$darkBackground,
        colors.$darkDisabledColor,
        colors.$darkCurrentBackground
    );
}
