.paginatorjs *,
.paginatorjs :after,
.paginatorjs :before {
    box-sizing: border-box;
}

.paginatorjs-pagination {
    display: flex;
    color: #3d4044;
    width: 100%;
    line-height: 1.6;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.paginatorjs-pagination button,
.paginatorjs-pages button {
    margin: 0;
    border: 1px solid #d2d6dc;
    border-right: none;
    outline: none;
    padding: 5px 14px;
    background-image: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.paginatorjs-pagination .paginatorjs-pages button:disabled,
.paginatorjs-pagination .paginatorjs-pages button:hover:disabled,
.paginatorjs-pagination .paginatorjs-pages button[disabled] {
    background-color: #fff;
    color: #6b7280;
    cursor: default;
}

.paginatorjs-pagination .paginatorjs-pages button:first-child {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.paginatorjs-pagination .paginatorjs-pages button.paginatorjs-currentPage {
    background-color: #f7f7f7;
    font-weight: 700;
}

.paginatorjs-pagination .paginatorjs-pages button:last-child {
    border-bottom-right-radius: 6px;
    border-right: 1px solid #d2d6dc;
    border-top-right-radius: 6px;
}
